<h3>Please edit the information for your existing Potluck below:</h3>

<%= form_for @party do |f| %>

  What for?: <%= f.text_field :name %><br>
  Location: <%= f.text_field :location %><br>
  Date: <%= f.date_field :date %><br>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :id, :value => @party.id %>
  <%= f.submit %>

<% end %>